.block{
    height: 200px;
    width: 200px;
    background-color: red;
}
.alinhar{
    width: 456px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.email-input{
    flex-basis: 450px;
    flex-grow: 1;
}

.idade{
    flex-basis: 100px;;
}
.numero-rua{
    flex-grow: 1;
    flex-basis: 80px;
}

.bairro{
    flex-basis: 180px;
}
.rua{
    flex-grow: 1;
}
.cidade, .email-input, .nome, .sobrenome, .senha, .senharepetir{
    flex-grow: 1;
}
.estado{
    flex-grow: 1;
}
.cep{
    flex-basis: 110px;
}
.mb-3 input, .mb-3 select {
    border-width: 2px;
}
.mb-3 input:focus{
    border-color: #01713D;
}

.cep-input-color{
    border-color: #01713D;
}
.red-border{
    border-color: red !important;
}
.yellow{
    color: #fdb913;
}
/* popup */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#mainNav{
    z-index: 5;
}
.modal-content {
    border-radius: 10px;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* popup */

.form-holder{
    margin-top: 6% !important;
}


.cards-container{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
  }

  .card{
    border-radius: 10px;
    overflow: hidden;
  }

  .size{
    
    width: 20px;
    height: 20px;
    object-fit: cover;

  }
.inline{
    align-items: center;
    display: flex;
    justify-content: space-between;
 
}
  .imageholder{
    float: right;
  }

  .cor{
    background-color: red;
  }

