.block{
    height: 200px;
    width: 200px;
    background-color: red;
}
.alinhar{
    width: 456px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.email-input{
    flex-basis: 450px;
    flex-grow: 1;
}

.idade{
    flex-basis: 100px;;
}
.numero-rua{
    flex-basis: 110px;
}
.rua{
    flex-grow: 1;
}

.cep{
    flex-basis: 110px;
}
.bairro{
    flex-grow: 1;
}