.block{
    height: 200px;
    width: 200px;
    background-color: red;
}
.alinhar{
    width: 456px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.email-input{
    flex-basis: 450px;
    flex-grow: 1;
}

.idade{
    flex-basis: 100px;;
}
.numero-rua{
    flex-grow: 1;
    flex-basis: 80px;
}

.bairro{
    flex-basis: 180px;
}
.rua{
    flex-grow: 1;
}
.cidade, .email-input, .nome, .sobrenome, .senha, .senharepetir{
    flex-grow: 1;
}
.estado{
    flex-grow: 1;
}
.cep{
    flex-basis: 110px;
}

.mb-3 input:focus{
    border-color: #01713D;
}